/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

.anagram {
  width: 400px;
  height: 301px;
  background-color: rgb(240, 60, 50);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
  font-family: Arial, sans-serif;
  font-style: oblique;
  color: white;
  font-size: 40px;
  position: absolute;
  top: 550px;
  right: 100px;
  float: left;
  margin: 10px;
}

#name{
  width: 400px;
  height: 158px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 30px;
  position: absolute;
  top: 107px;
  right: 0px;
}